<div >
  
    <header> 
      <h1 id="titulo">Meu Aplicativo de Filmes</h1>
    </header>
  
    <section class="banner" id="home">
      <h2>Descubra seus filmes favoritos</h2>
      <p>Explore uma vasta seleção de filmes e séries para todos os gostos!</p>
      <button routerLink="/filmes">Comece Agora</button>
    </section>
  
    <section class="catalogo" >
      <h2>🎬 Catálogo de Filmes</h2>
      <div  class="filmes">
        <div class="filme-card">
          <img class="post" src="https://m.media-amazon.com/images/M/MV5BNTRlNmU1NzEtODNkNC00ZGM3LWFmNzQtMjBlMWRiYTcyMGRhXkEyXkFqcGc@._V1_SX300.jpg" alt="Filme 1">
          <h3>Joker</h3>
          <p>Gênero: Crime, drama</p>
        </div>
        <div class="filme-card" >
          <img class="post" src="https://m.media-amazon.com/images/M/MV5BOTA1Mzc2N2ItZWRiNS00MjQzLTlmZDQtMjU0NmY1YWRkMGQ4XkEyXkFqcGc@._V1_SX300.jpg"  >
          <h3 > Harry Potter</h3>
          <p>Gênero: Fantasia / Aventura</p>
        </div>
        <div class="filme-card">
          <img src="https://m.media-amazon.com/images/M/MV5BZjI5MzdmODctYjA4NS00ZmMxLWJlOWUtOGVhMjA0OGMxMWYzXkEyXkFqcGc@._V1_SX300.jpg" alt="Filme 3">
          <h3>jumanji</h3>
          <p>Gênero: Ação / Ficção</p>
        </div>
        <div class="filme-card">
          <img src="https://m.media-amazon.com/images/M/MV5BMmU5NGJlMzAtMGNmOC00YjJjLTgyMzUtNjAyYmE4Njg5YWMyXkEyXkFqcGc@._V1_SX300.jpg" alt="Filme 4">
          <h3>Batman</h3>
          <p>Gênero: Crime, Drama</p>
        </div>
      </div>
    </section>
  
    <footer>
      © 2024 Meu Aplicativo | Feito com <span>❤️</span> para cinéfilos
    </footer>
  </div>

  
